<% provide(:title, "Home")%>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed'%>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to Rails Fwitter</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to("login with facebook!", "/auth/facebook") %>
</div>
<% end %>



<script type="text/javascript" charset="utf-8">
  $(function(){
    $('form').submit(function(event){
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/microposts', values);

      posting.done(function(data){

        var newPost = '<li id="micropost-'+data['micropost']['id']+'">';
        newPost += '<a><img class="gravatar" src="'+data['micropost']['user']['gravatar_url']+'"></a>';
        newPost += '<span class="user"><a href="/users/'+data['micropost']['user']['id']+'">'+data['micropost']['user']['name']+'</a></span>';
        newPost += '<span class="content">'+data['micropost']['content']+'</span>';
        newPost += '<span class="timestamp"> Posted at '+data['micropost']['created_at']+'<br></span>';

        if(data['micropost']['likes']===0){
          newPost += '<span class="likes_count">Be the first to like this post.</span>';
        } else {
          newPost += '<span class="likes_count">Has '+data['micropost']['likes']+' likes.</span>';
        }

        newPost += '<button class="like">Like</button>';
        newPost += '<button class="delete">Delete</button>';
        newPost += '<ul class="categories">';

        $.each(data['micropost']['categories'], function(i, val){
            newPost += '<li class="category">';
            newPost += val['title'];
            newPost += '</li>'
        });

        newPost += '</ul></li>';

        $('.microposts').prepend(newPost);
        $('form').trigger("reset");

        //leave this here for debugging
        console.log(data);
      });
    });

    $('.microposts').on('click', '.like', function(event){
      event.preventDefault();
      var post_id = $(this).parent().attr('id').split('-')[1];
      var that = this;
      $.post('/like/'+post_id, function(data){
          $(that).parent().find('.likes_count').text('Has '+data['likes']+' likes.');
      });
    });

    $('.microposts').on('click', '.delete' ,function(event){
        event.preventDefault();
        var post_id = $(this).parent().attr('id').split('-')[1];
        var that = this;
        var request = $.ajax({
          url: '/microposts/'+post_id,
          type: 'DELETE',
          success: function(data){
            if(data['success'] == post_id){
              $(that).parent().remove();
            }
          }
        });
    });

  });



</script>
