<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div id='categories'>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :title, include_blank: true)%>
  </div>

  <%= f.label "New Category"%>
  <%= f.fields_for :categories, @micropost.categories.build do |categories_fields|%>
    <%= categories_fields.text_field :title%>
  <% end %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
